.card-container {
    width: 100%;
    
    margin: 25px 0px;
    
    display: flex;
    flex-direction: column;
}

.card-container :last-child {
    margin-bottom: 0px;
}

.card {
    height: 25vh;
    width: 100%;
    
    background-position: center;
    background-size: cover;
    margin-bottom: 2vh;
    max-height: 500px;
    background-color: khaki;
    overflow: hidden;
}

.card-image {
    height: 100%;
    position: relative;
    top: 0px;
    width: 100%;
    backdrop-filter: grayscale(80%);
}

.title-container {
    background-color: #000000AA;
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    word-break: keep-all;
}

.title-container h6 {
    margin: 0px;
    padding: 15px;
    padding-bottom: 20px;
    color: var(--primary);
}

.card:hover .card-image {
    backdrop-filter: grayscale(0%);
}

@media screen and (max-width: 500px) {
    .card {
        height: 50vh;
    }
}